/unityProfect/Library
/unityProfect/Logs
/unityProfect/Temp
/unityProfect/.vsconfig
/unityProfect/UserSettings
*.vscode
/unityProfect/UIElementsSchema
/unityProfect/Assembly-CSharp.csproj
/unityProfect/Assembly-CSharp-Editor.csproj
*.vs